<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hpe.ssa.mapper.AdminsMapper">
	<sql id="Base_Column_List">
		aid,acount,apwd,a_pcid,aremarks
	</sql>
	<select id="login" parameterType="com.hpe.ssa.pojo.Admins" resultType="com.hpe.ssa.pojo.Admins">
		select
		<include refid="Base_Column_List" />
		from admins where acount=#{acount} and apwd=#{apwd}
	</select>
	<select id="getAdminsList" resultType="com.hpe.ssa.pojo.Admins">
		select aid,acount from admins
	</select>
	<select id="selectAdminsNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		SELECT count(aid)
		FROM admins
	</select>
	<select id="selectAdminDetailById" parameterType="java.lang.Integer" resultMap="adminPermissionMap">
		select aid,acount,apwd,pername
		from admins,permission
		where admins.a_pcid=permission.perid and aid=#{aid}
	</select>
	<resultMap id="adminPermissionMap" type="com.hpe.ssa.pojo.Admins">
		<id column="aid" property="aid"></id>
		<result column="acount" property="acount"></result>
		<result column="apwd" property="apwd"></result>
		<association property="permission" javaType="com.hpe.ssa.pojo.Permission">
			<id column="perid" property="perid"></id>
			<result column="pername" property="pername"></result>
		</association>
	</resultMap>
	<select id="selectAdminsList"  parameterType="java.lang.Integer" resultType="com.hpe.ssa.pojo.Admins">
		select aid,acount
		from admins
		limit #{index},10
	</select>
	<select id="selectPermissionList" resultType="com.hpe.ssa.pojo.Permission">
		select perid,pername
		from permission
	</select>
	<insert id="insertAdmin" parameterType="com.hpe.ssa.pojo.Admins">
		INSERT INTO admins
		(acount,apwd,a_pcid,aremarks)
		VALUES (#{acount},#{apwd},#{permission.perid},#{aremarks})
	</insert>
	<delete id="deleteAdmins" parameterType="java.lang.Integer">
		delete from admins
		where aid=#{aid}
	</delete>
	<update id="updateAdmins" parameterType="com.hpe.ssa.pojo.Admins">
		update admins
		set
		acount=#{acount},apwd=#{apwd},a_pcid=#{permission.perid},aremarks=#{aremarksaremarks}
		where aid=#{aid}
	</update>
</mapper>